@media (max-width: 767px) 
{.bienvenida 
h1 {display: flex;
justify-content: center;
text-align: center;}
span {display: flex;
flex-direction: column;}
p {text-align: center;}
h2 {display: flex;
justify-content: center;}} 

.action {.content {padding: 30px;}
                   .boton-wsp {padding: 10px 30px}
} 

